.ipdata-container {
  background: #fff;
  @include align-text;
  border-radius: 20px;
  padding: 2rem 1.5rem;

  position: absolute;
  top: 50%;
  left: 7%;
  right: 7%;
  transform: translateY(2rem);
  height: 40%;
  text-align: center;
  align-items: center;
  @include table {
    grid-template-columns: repeat(2, 1fr);
    height: 300px;
    right: 7%;
    margin-top: 1.5rem;
  }
  @include mobile {
    top: 30%;
    transform: none;
    padding: 2.5rem 1.5rem;
    grid-template-columns: repeat(1, 1fr);
    height: 300px;
  }

  & .data-flex {
    border-right: 1px solid $color-Dark-Gray;
    padding: 0rem 1rem;
    @include table {
      border: none;
    }

    &:last-child {
      border: none;
    }
  }

  & .title {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $color-Dark-Gray;
    padding-top: 0.8rem;
  }

  & h2 {
    @include table {
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
    color: $color-Very-Dark;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 0.5rem;
  }
}
